body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Theme toggle styles */
.theme-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-toggle input {
  display: none;
}

.theme-toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  transition: background-color 0.4s ease;
  border-radius: 34px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  padding: 2px; /* Add padding for better visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to right, #ccc, #eee);
}

.theme-toggle input:checked + .theme-toggle-slider {
  background-image: linear-gradient(to right, #333, #555);
}


/* Dark mode styles */
.dark-mode {
  background-color: #111;
  color: #fff;
}

.dark-mode header {
  background-color: #222;
}
