body {
  background-color: #FFD1DC; /* Peachy dawn color */
}

.sun {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #ffff00, #ffcc00);
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  left: -150px;
  opacity: 0;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  animation: sun-rise 3s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
}

@keyframes sun-rise {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 20px;
    left: 20px;
    opacity: 1;
  }
}
