.sky {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #87CEEB; /* Initial daytime sky color */
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
}

.moon {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #D3D3D3;
  border-radius: 50%;
  cursor: pointer;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
